<div class="map-filter_box-item map-filter_box-item-filters js-map-filter_box">
    <div class="content mCustomScrollbar" style="height: 100%; overflow-y:auto;overflow-x:hidden;">
        {{#each filters as |filter|}}
            {{map-filters-item filter=filter}}
        {{/each}}
    </div>
</div>
