<div class="b-map-loader-splash" style="display:{{if show 'block' 'none'}};">
    <div class="b-map-loader-splash__text">

        <div class="b-loader b-loader_center"></div>
        <br>
        загрузка карты...
    </div>
</div>
