<li class="col-md-4 map-home_item" style="cursor: pointer;" {{action 'loadFilter' bubbles=false}}>
    <div>
        <!--<p class="map-filter_box-item__head">Мой фильтр</p>-->
        <p>{{{filter.getName}}}</p>
    </div>
</li>

