<div class="imap">
    {{map-progress}}
    {{map-loader}}
    {{map-top-filter}}
    {{map-top-slider-filter}}
    <div class="container-fluid">
        <div class="map-filter vertical js-map-filter">
            {{#main-menu}}
            {{/main-menu}}
            <div class="map-filter_box">
            {{#map-territory-panel}}
            {{/map-territory-panel}}
            {{#map-indicators-panel}}
            {{/map-indicators-panel}}
            {{#map-objects-panel}}
            {{/map-objects-panel}}
            {{#map-projects-panel}}
            {{/map-projects-panel}}
            {{#map-filters-panel}}
            {{/map-filters-panel}}
            {{#map-history-panel}}
            {{/map-history-panel}}
            {{#map-settings-panel}}
            {{/map-settings-panel}}
            
                 
            </div>
        </div>

        <div class="map-container container">
            
        </div>

        <!--<div class="col-md-11 map-home_slider js-map-home_slider slider-show" style="left: 422px;">
            <div class="js-bp-template-slider swiper-container swiper-container-horizontal swiper-container-free-mode">

            </div>


        </div>-->


    </div>


    <!--<div class="map-home_slider js-map-home_slider">
        <div class="js-bp-template-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide map-home_item swiper-slide-active" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Моя область</p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item swiper-slide-next" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Соседние регионы</p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Москва - Питер</p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Топ - 10</p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Своя выборка 1 <span class="pull-right"><i class="fa fa-cog" aria-hidden="true"></i></span></p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item" style="width: 226.2px; margin-right: 4px;">
                    <div>
                        <p class="map-filter_box-item__head">Рыба <span class="pull-right"><i class="fa fa-cog" aria-hidden="true"></i></span></p>
                        <p>Краснодарский край, Все виды деятельности, Все типы объектов, обсудить...</p>
                    </div>

                </div>
                <div class="swiper-slide map-home_item  map-home_item-add" style="width: 226.2px; margin-right: 4px;">
                    <div><i class="fa fa-plus" aria-hidden="true"></i></div>

                </div>
            </div>
        </div>
    </div>
-->
    {{#map-yandex}}
    {{/map-yandex}}


</div>




